/Dunkleosteus/Library
/Dunkleosteus/ProjectSettings
/Dunkleosteus/Temp
/Dunkleosteus/UnityVS.Dunkleosteus.sln
/Dunkleosteus/Assembly-CSharp.csproj
/Dunkleosteus/Assembly-CSharp-Editor.csproj
/Dunkleosteus/Assembly-CSharp-firstpass.csproj
/Dunkleosteus/Dunkleosteus.CSharp.csproj
/Dunkleosteus/Dunkleosteus.CSharp.Editor.csproj
/Dunkleosteus/Dunkleosteus.CSharp.Plugins.csproj
/Dunkleosteus/Dunkleosteus.sln
/Dunkleosteus/Dunkleosteus.userprefs
/Dunkleosteus/UnityVS.Dunkleosteus.CSharp.csproj
/Dunkleosteus/UnityVS.Dunkleosteus.CSharp.Editor.csproj
/Dunkleosteus/UnityVS.Dunkleosteus.CSharp.Plugins.csproj
/Dunkleosteus/*.csproj
/Dunkleosteus/*.suo
/Dunkleosteus/*.sln
